<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Musical Wayfinder</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
    <!-- jQRangeSlider CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iThing.css') }}" type="text/css" />
    <!-- D3 Tooltip CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3-tip.css') }}">
    <!-- Custom styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Bootstrap grid setup -->
    <div class="container">
        <div class="row">
            <br> <br> <br>
        </div>      

        <div class="row row-no-gutters">
            <div class="col-md-5 text-left">
                <label style="font-size:30px; justify-content: left;">USERNAME<span id="username"></span>'s Library</label>
                <br>
            </div>

            <div class="col-md-6">
            </div>

            <div class="col-md-5 text-right"></div>
                <!-- Reset button -->
                <button id="reset-button" class="btn btn-primary" style="justify-content: right">Reset Selection</button> 
            </div>
        </div>

        <div class="row">
            <br> 
        </div> 

        <div class="row row-no-gutters">
            <div class="col-md-5">
                <!-- Time slider -->
                <!-- <div id="slider-div">
                    <label>Time range: <span id="time"></span></label>
                    <div id="time-slider"></div>
                </div> -->
                <!-- Time slider with range handles? -->
                <div id="slider-div" z-index=-1>
                    <div id="line-plot-area"></div>
                    <div id="slider" class="slider" style="width:1280px; margin-top:0px; margin-left:100px; justify-content: left"></div>
                    <label style="font-size:30px; margin-left:100px"><br>2012-2019<span id="time"></span></label>  
                </div>
            </div>
        </div>

        
    </div>

    <div class="row row-no-gutters">
        <div class="col-md-5">
        </div>

        <div class="col-md-5 text-right">
            <!-- Toggle button -->
            <button id="toggle-button" class="btn btn-default">Current Working Toggle</button>
            <!-- <button id="toggle-button-library" class="btn btn-default disabled">Library Genres</button> -->

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="toggle-allgenre" autocomplete="off" checked> All Genres
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="toggle-librarygenre" autocomplete="off"> My Genres
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <!-- Song Plot -->
            <div id="song-plot-area">
            </div>
        </div>

        <div class="col-sm-1">
            <div class="row">
                <br> <br> <br><br> <br>
            </div>

    
            <div class="row">
                <br> 
                <div id="legend">
                </div>
            </div>

            <div class="row">
                    <br> <br> <br> <br> <br>
            </div>

            <div class="row row-no-gutters">
                <!-- X Axis dropdown box -->
                <p text-align:right> X-Axis: </p><select id="x-attribute-select" class="form-control">
                    <option selected value="energy">Energy</option>
                    <option value="liveness">Liveness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="danceability">Danceability</option>
                    <option value="loudness">Loudness</option>
                    <option value="valence">Valence</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>

            <div class="row">
                <br> 
            </div>

            <div class="row row-no-gutters">
                <!-- Y Axis dropdown box -->
                <p text-align:left> Y-Axis: </p><select id="y-attribute-select" class="form-control">
                    <option value="energy">Energy</option>
                    <option value="liveness">Liveness</option>
                    <option value="speechiness">Speechiness</option>
                    <option selected value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="danceability">Danceability</option>
                    <option value="loudness">Loudness</option>
                    <option value="valence">Valence</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>

        </div>

        <div class="col-md-6">
            <!-- Genre Plot -->
            <div id="genre-plot-area">
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-md-6" style="width:100%; margin-left:100px;">
            <div class="row" id="stats-area"style="width:90%;">
                <div class="col" style="width:30%; float:left">
                    <p style="font-size:25px; text-decoration:underline"> <strong>Top Artists</strong> </p>
                    <ul class="list-group" id="top-artists" style="max-height: 500px; overflow: scroll; font-size:18px">
                    </ul>     
                </div>

                <div class="col" id="spotify-preview" style="float:center">
                </div>
                
                <div class="col" style="width:30%; float:right">
                    <p style="font-size:25px; text-decoration:underline"> <strong>Top Tracks</strong> </p>
                    <ul class="list-group" id="top-tracks" style="max-height: 500px; overflow: scroll; font-size:18px">
                    </ul>             
                </div>
            </div>


        </div>
    </div>
    </div>
</div>

<!-- External JS libraries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<!-- <script src="js/jquery-3.4.1.min.js"></script>-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>

<!-- JQRange Slider libraries -->
<!-- <script src="js/jquery.js"></script>
<script src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="js/jQDateRangeSlider-min.js"></script> -->

<!-- dragslider libraries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/dragslider.js') }}"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>

<!-- Custom JS -->

<script>
    function loadSongData() {
        // Create a promise for the data
        var songDataPromise = d3.json("{{ base_url }}/data/{{ user_id }}/library.json");
        return songDataPromise;
    }

    function loadGenreData() {
        // Create a promise for the data
        var genreDataPromise = d3.json("{{ base_url }}/data/data_genres_average_features.json");
        return genreDataPromise;
    }

    function loadTopArtistsData() {
        var top_artists_basename = "top_artists_{timeScale}_term.json";

        var top_artists_short = top_artists_basename.replace("{timeScale}", "short");
        var top_artists_medium = top_artists_basename.replace("{timeScale}", "medium");
        var top_artists_long = top_artists_basename.replace("{timeScale}", "long");

        return Promise.all([d3.json("{{ base_url }}/data/{{ user_id }}/" + top_artists_short), 
                            d3.json("{{ base_url }}/data/{{ user_id }}/" + top_artists_medium),
                            d3.json("{{ base_url }}/data/{{ user_id }}/" + top_artists_long)
                        ]).then(function(results) {
                            return {"short" : results[0], "medium" : results[1], "long" : results[2]};
                        }, function(error) {
                            console.log("Trouble loading top artist data!");
                            console.log(error);
                        })
    }

    function loadTopTracksData() {
        var top_tracks_basename = "top_tracks_{timeScale}_term.json";

        var top_tracks_short = top_tracks_basename.replace("{timeScale}", "short");
        var top_tracks_medium = top_tracks_basename.replace("{timeScale}", "medium");
        var top_tracks_long = top_tracks_basename.replace("{timeScale}", "long");

        return Promise.all([d3.json("{{ base_url }}/data/{{ user_id }}/" + top_tracks_short), 
                            d3.json("{{ base_url }}/data/{{ user_id }}/" + top_tracks_medium),
                            d3.json("{{ base_url }}/data/{{ user_id }}/" + top_tracks_long)
                        ]).then(function(results) {
                            return {"short" : results[0], "medium" : results[1], "long" : results[2]};
                        }, function(error) {
                            console.log("Trouble loading top track data!");
                            console.log(error);
                        })
    }

    function loadRecentlyPlayedData() {
        return Promise.all([d3.json("{{ base_url }}/data/{{ user_id }}/recently_played.json")]).then(function(results) {
            return results[0];
        }, function(error) {
            console.log("Trouble loading recently played data!");
            console.log(error);
        })
    }
</script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>